* {
  padding: 0;
  margin: 0;
  list-style: none;
}

span {
  color: #ac6aff;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.main__wrapper {
  height: 950px;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
}
